pipeline/real_copy1.json
{
	"name": "real_copy1",
	"properties": {
		"description": "Scala Synapse Pipeline",
		"activities": [
			{
				"name": "Get Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ine-runtime-stg-eus.vault.azure.net/secrets/apia-wcd-ine-spark-cooking-stg-us?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": null,
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "MdeClearMachineNetworkInfo",
				"description": "MdeClearMachineNetworkInfoScala Synapse Curation Job",
				"type": "SparkJob",
				"dependsOn": [
					{
						"activity": "Get Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "04:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"sparkJob": {
						"referenceName": "MdeClearMachineNetworkInfo",
						"type": "SparkJobDefinitionReference"
					},
					"args": [
						"--environment",
						"Staging",
						"--dataCenter",
						"eus",
						"--applicationSecret",
						"@activity('Get Secret').output.value",
						"--eventType",
						"MachineNetworkInfoEvent",
						"--runId",
						"@pipeline().RunId",
						"--scheduledTime",
						"@pipeline().parameters.scheduledTime"
					],
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"scheduledTime": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-02-28T03:07:18Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}